* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #36454f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.header-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

nav {
    background-color: #bbb;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

nav a {
    color: #36454f;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
}

.grid {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    background-color: #36454f;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card p {
    margin-bottom: 20px;
}

footer {
    background-color: #36454f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
}
